@charset "utf-8";
body { margin:0; padding:0; width:100%; color:#959595; font:normal 12px/1.8em Arial, Helvetica, sans-serif; background:repeat center center;}
h2 { font:normal 24px/1.5em Arial, Helvetica, sans-serif; color:#323a3f;}


/* input */
.content_resize {margin: 0 auto; width:100%; text-align:center;}
.mainbar {margin: 0 auto;width:500px;margin-top:20px;}
.input_short {margin:6px 4px;width:150px;height:20px;}
.mainbar  form {margin:0 4px;}
.content .mainbar  .table_list th {text-align:right;font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
.input_middle {margin:4px 0;height:20px;width:500px;}
.input_long {margin:4px 0;height:100px;width:500px;}
.content .mainbar  .table_radio td {width:120px;}
.content .mainbar  .table_radio td label{margin:0;padding:0;}
.content .mainbar  li {margin-top:0px;}
.content .mainbar  .table_feedback td {width:200px;}
.line {margin:10px 0;border-bottom:1px solid #BCD2E6;}
.line1 {margin:10px 10px;border-bottom:1px solid #BCD2E6;}
.content .mainbar  .table_list_3 td {width:200px;height:40px;}
.content .mainbar  .table_list_3 longtd {width:500px;}

m {color:red}

/* form */
ol{ list-style:none;}
ol li { display:block; clear:both;}
ol li label { display:block; margin:0; padding:10px 0 0 0;float:left}
ol li input.text { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:5px 2px; height:25px; background:#fff;}
ol li textarea { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:2px; background:#fff;}
ol li .send { margin:16px 0 0 0;}
input{margin-top:20xp;}
